In [1]:
import pandas as pd

In [27]:
df= pd.read_csv("healthcare_dataset.csv")
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [31]:
df.shape

(55500, 15)

# **CLEANING DATA**

In [ ]:
df = df.drop(['Name', 'Doctor', 'Hospital', 'Insurance Provider', 'Billing Amount', 'Room Number'], axis=1)

In [33]:
df.columns

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

In [53]:
df.columns

Index(['Age', 'Gender', 'Blood Type', 'Medical Condition', 'Date of Admission',
       'Admission Type', 'Discharge Date', 'Medication', 'Test Results'],
      dtype='object')

In [55]:
df.isnull().sum()

Age                  0
Gender               0
Blood Type           0
Medical Condition    0
Date of Admission    0
Admission Type       0
Discharge Date       0
Medication           0
Test Results         0
dtype: int64

In [61]:
df.duplicated().sum()

534

In [63]:
df[df.duplicated()]

,Age,Gender,Blood Type,Medical Condition,Date of Admission,Admission Type,Discharge Date,Medication,Test Results
50023,56,Male,O+,Arthritis,2022-11-03,Urgent,2022-11-22,Aspirin,Inconclusive
50040,26,Male,A-,Obesity,2023-10-23,Urgent,2023-11-18,Penicillin,Abnormal
50055,55,Female,B-,Obesity,2021-04-08,Urgent,2021-04-15,Aspirin,Abnormal
50070,27,Female,O+,Arthritis,2020-01-31,Elective,2020-02-13,Lipitor,Normal
50078,38,Male,AB-,Arthritis,2023-01-14,Emergency,2023-02-12,Penicillin,Normal
...,...,...,...,...,...,...,...,...,...
55461,63,Male,A+,Asthma,2021-08-21,Emergency,2021-09-16,Paracetamol,Normal
55462,35,Female,A-,Diabetes,2022-06-30,Elective,2022-07-27,Penicillin,Normal
55464,35,Female,AB-,Obesity,2024-02-28,Emergency,2024-03-14,Paracetamol,Abnormal
55484,80,Male,O+,Cancer,2022-05-05,Elective,2022-05-17,Aspirin,Normal
55491,47,Female,O+,Obesity,2020-06-21,Emergency,2020-06-25,Lipitor,Abnormal

In [65]:
df=df.drop_duplicates()

In [84]:
df.shape

(54966, 9)

In [92]:
df[df['Age']>100].shape[0]

0

In [94]:
df['Blood Type'].unique()

array(['B-', 'A+', 'A-', 'O+', 'AB+', 'AB-', 'B+', 'O-'], dtype=object)

In [102]:
df.loc[:, 'Blood Type']= df['Blood Type'].str.strip()

In [156]:
df['Gender'].unique()
df['Gender']=df['Gender'].str.strip().str.lower()
df['Gender'].unique()

array(['male', 'female'], dtype=object)

In [160]:
df['Medical Condition'].unique()
df['Medical Condition']=df['Medical Condition'].str.strip()
df['Medical Condition'].unique()

array(['Cancer', 'Obesity', 'Diabetes', 'Asthma', 'Hypertension',
       'Arthritis'], dtype=object)

In [162]:
df['Admission Type'].unique()
df['Admission Type']=df['Admission Type'].str.strip()
df['Admission Type'].unique()

array(['Urgent', 'Emergency', 'Elective'], dtype=object)

In [164]:
df['Test Results'].unique()
df['Test Results']=df['Test Results'].str.strip()
df['Test Results'].unique()

array(['Normal', 'Inconclusive', 'Abnormal'], dtype=object)

In [150]:
df['Date of Admission']= pd.to_datetime(df['Date of Admission'])

In [152]:
df['Discharge Date']= pd.to_datetime(df['Discharge Date'])

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54966 entries, 0 to 55499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                54966 non-null  int64
 1   Gender             54966 non-null  object
 2   Blood Type         54966 non-null  object
 3   Medical Condition  54966 non-null  object
 4   Date of Admission  54966 non-null  datetime64[ns]
 5   Admission Type     54966 non-null  object
 6   Discharge Date     54966 non-null  datetime64[ns]
 7   Medication         54966 non-null  object
 8   Test Results       54966 non-null  object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 4.2+ MB

In [166]:
df['Length of Stay']= (df['Discharge Date']-df['Date of Admission']).dt.days

In [168]:
df.columns

Index(['Age', 'Gender', 'Blood Type', 'Medical Condition', 'Date of Admission',
       'Admission Type', 'Discharge Date', 'Medication', 'Test Results',
       'Length of Stay'],
      dtype='object')

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54966 entries, 0 to 55499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                54966 non-null  int64
 1   Gender             54966 non-null  object
 2   Blood Type         54966 non-null  object
 3   Medical Condition  54966 non-null  object
 4   Date of Admission  54966 non-null  datetime64[ns]
 5   Admission Type     54966 non-null  object
 6   Discharge Date     54966 non-null  datetime64[ns]
 7   Medication         54966 non-null  object
 8   Test Results       54966 non-null  object
 9   Length of Stay     54966 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 4.6+ MB

In [174]:
df.to_csv("clean_healthcare_data.csv", index=False)